# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env-*
terraform.tfvars

# IDE
*.code-workspace
!ta.code-workspace

# Terraform
.terraform
.terraform.lock.hcl
config.*.tfbackend
!config.example.tfbackend

# Misc
no_commit
