name: Code Quality
on:
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]
  workflow_dispatch:
jobs:
  quality:
    name: Quality Checks
    # The linting and testing pipeline should not take more that 2 minutes.
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files_ignore: |
            .github/**/*
            .vscode/**/*
            doc_assets/**/*
            .gitignore
            .markdownlint*
            .tool-versions
            *.code-workspace
            *.md
            **/LICENSE

      - name: Get changed Module name
        id: modules
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          modules=()
          for file in ${ALL_CHANGED_FILES}; do
            echo "${file} was changed"
            # Get the root folder name of the changed file, this will be the module name.
            module_name=$(echo ${file} | cut -d'/' -f1)
            if [[ ! "${modules[@]}" =~ "${module_name}" ]]; then
              modules+=("${module_name}")
            fi
          done
          module_names_json=$(jq -c -n '$ARGS.positional' --args "${modules[@]}")
          echo "module_names=${module_names_json}" >> $GITHUB_OUTPUT

          echo "::group::Modules"
          echo "Modules:"
          echo "${modules[*]}"
          echo "::endgroup::"

          echo "::group::Module Names"
          echo "Module Names: ${module_names_json}"
          echo "::endgroup::"

      - name: Version and Release Setup
        run: |
          modules=($(jq -r '.[]' <<<'${{ steps.modules.outputs.module_names }}'))

          version_tags=""
          for module in "${modules[@]}"; do
            version=$(cat "${module}"/project.json | jq -r '.version')
            version_tag="${version}-${module}"
            version_tags="${version_tags},\"${version_tag}\""
          done

          version_tags="${version_tags:1}"
          echo "version_tags=[${version_tags}]" >> $GITHUB_OUTPUT

          echo "::group::Version Tags"
          echo "Version Tags: [${version_tags}]"
          echo "::endgroup::"
        shell: bash
        id: version

      - name: Check for Tag
        run: |
          tags=($(jq -r '.[]' <<<'${{ steps.version.outputs.version_tags }}'))

          for tag in "${tags[@]}"; do
            if git show-ref --tags --verify --quiet "refs/tags/${tag}"; then
                echo "The tag ${tag} already exists, ensure you have incremented the version in project.json."
                exit 1
            fi
          done
          echo "Proceeding."
        shell: bash

      - name: Get changed project files
        id: changed-terraform
        uses: tj-actions/changed-files@v44
        with:
          files: |
            **/*.tf
            .github/workflows/lint.yml
          files_ignore: |
            **/*.md
            **/LICENSE

      - name: Get changed markdown files
        id: changed-markdown
        uses: tj-actions/changed-files@v44
        with:
          files: |
            **/*.md
            .github/workflows/codde-quality.yml

      - name: Lint all Documentation
        if: steps.changed-markdown.outputs.any_modified == 'true'
        uses: DavidAnson/markdownlint-cli2-action@v14
        with:
          globs: |
            **/*.md
            !**/SPECS.md

      - name: Lint all terraform files
        if: steps.changed-terraform.outputs.any_modified == 'true'
        uses: generalui/github-workflow-accelerators/.github/actions/lint-terraform@1.0.0-lint-terraform
        with:
          terraform-version: ${{ vars.TERRAFORM_VERSION || 'latest' }}

      - name: Default Job Success
        if: steps.changed-markdown.outputs.any_modified != 'true' && steps.changed-terraform.outputs.any_modified != 'true'
        run: exit 0
