name: Linting
on:
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    # The linting and testing pipeline should not take more that 2 minutes.
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ vars.TERRAFORM_VERSION || 'latest' }}

      - name: Lint project
        run: terraform fmt -check -recursive -diff
